<!DOCTYPE html>
<html>
  <head>
    <title ><%= collegeName %></title>
    <link rel='stylesheet' href = 'css/singleCollege.css' type="text/css">
  </head>
  <body style = 'background-color: #dbe2ef;'>
    <% var mostRecentYear = data['2015'] %>
    <h1 class = 'title' style="width: 50%; margin: 0 auto; border-bottom: solid;"><%= collegeName %></h1>
    <br />
    <h2 style = 'width: 50%; margin: 0 auto; border-bottom: solid;'>School Info</h2>
  
    <div style="width: 50%; margin: 0 auto; border-bottom: solid;">
      <img src = 'https://cdn3.iconfinder.com/data/icons/glypho-money-and-finance/64/money-dollar-circle-512.png' style = 'float: right; width: 50px; height: 50px;'>
      <h3>Financial Aid</h3>
      <p> Pell grant rate: <%= JSON.stringify(mostRecentYear.aid.pell_grant_rate, null, 2) %></p>   
      <img src = 'https://cdn3.iconfinder.com/data/icons/glypho-money-and-finance/64/money-dollar-circle-512.png' style = 'float: right; width: 50px; height: 50px;'>

    </div>  

    <div style="width: 50%; margin: 0 auto; border-bottom: solid;">
    <h3>Student Cost(Tuition)</h3>
    <%= JSON.stringify( '$' + mostRecentYear.cost.tuition.out_of_state, null, 2) %>
    <br/>
    </div>
    
    <div style="width: 50%; margin: 0 auto; border-bottom: solid;">
    <h3>Admissions</h3>
    <h4>SAT scores:</h4>
    <%= JSON.stringify(mostRecentYear.admissions.sat_scores.average.overall, null, 2) %>
    <br/>
    <h4>ACT scores:</h4>
    <p>writing:</p>
    <img src = 'https://png.icons8.com/ios/1600/test-passed.png' style = 'float: right; width: 50px; height: 50px;'>
    <%= JSON.stringify(mostRecentYear.admissions.act_scores.midpoint.writing, null, 2) %>
    <p>english:</p>
    <%= JSON.stringify(mostRecentYear.admissions.act_scores.midpoint.english, null, 2) %>
    <p>math:</p>
    <%= JSON.stringify(mostRecentYear.admissions.act_scores.midpoint.math, null, 2) %>
    <p>cumulative:</p>
    <%= JSON.stringify(mostRecentYear.admissions.act_scores.midpoint.cumulative, null, 2) %>
    </div>
  
    <div style="width: 50%; margin: 0 auto; border-bottom: solid;">
    <h3>Price Calculator</h3>
    <%= JSON.stringify(data.school.price_calculator_url, null, 2)%>
    </div>
    
    <div style="width: 50%; margin: 0 auto; border-bottom: solid;">
    <img src = 'https://png.icons8.com/metro/1600/banknotes.png' style = 'float: right; width: 50px; height: 50px;'>
    <h3>Repayment</h3>
    <%= JSON.stringify(mostRecentYear.repayment.repayment_cohort['5_year_declining_balance'], null, 2)%>
    </div>
  </body>
</html>
